body {
	background-color: turquoise;
}

.blue {
	color: blue;
}

.hulk {
	font-size: 100px;
}

.capture {
	border: 2px solid aliceblue;
}

.round {
	border-radius: 25%;
}

.article-section:first-of-type {
	font-weight: bold;
}

.article-section:last-of-type {
	font-weight: bold;
	font-style: italic;
}

.block {
	display: block;
}